.appFeatures-container {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
.appFeatures-container > h1 {
  color: #000;
  font-size: 100px;
  margin-top: -100px;
}

.appFeatures-container > p {
  margin-top: 8px;
  color: #000;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  text-align:  center;
  justify-content: center;
}

#screenShot {
  max-height: 60vh;
  margin: 5vh;
}

#description{
  margin: 5vh;
  max-width: 30vw;
  
}

.responsive{
  width: 18% !important;
  height: auto !important;
}

@media screen and (max-width: 1600px) {
  .appFeatures-container > p {
    font-size: 30px;
  }
}

 @media screen and (max-width: 1200px) {
  .appFeatures-container > p {
    font-size: 28px;
  }
}

@media screen and (max-width: 960px) {
  .appFeatures-container > p {
    font-size: 27px;
  }
}

@media screen and (max-width: 768px) {
  .appFeatures-container > p {
    font-size: 26px;
  }
}
  
 